<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="grad-head">
                        <h3 class="text-dark-black"><strong>Perception Challenge for Bin-picking</strong></h3>
                        <p class="text-med-black fs-18 w-300">This competition is focused on the real-world robustness of 6DoF solutions for the industry. Participants are challenged to leverage Intrinsic’s open-source datasets, metrics methodologies, and a Flowstate work cell for bin-picking. This will involve estimating the position and orientation of objects in scenes typical for bin-picking. An automated system will rank teams on accuracy and efficiency, with the top teams taking home big prizes.</p>
                        
                        <p>This challenge is sponsored by <a href="http://intrinsic.ai">Intrinsic</a> and hosted by <a href="https://opencv.org">OpenCV</a>.</p>
                        <div class="landing-buttons">
                            <ul class="inline-list">
                                <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14"
                                        ui-sref="web.challenge-main">Participate</a></li>
                            </ul>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ev-container ev-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>1-4</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Allowed Team Size
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                   <h4><strong>Dec 10</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Registration Opens
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>Jun 10</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Final Winners Crowned
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>$50,000</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    In Cash Prizes
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <p class="center w-300">This challenge is open to anyone in a state not sanctioned by the United States. Participants cannot be connected with Alphabet or portfolio companies.</p>
                </div>
            </div>
        </section>
        <section class="ev-container ev-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Competition Rules & Timeline</h4>
                </div>
                <div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/about-timeline.jpeg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Timeline</h5>
                        <p class="w-300 fs-16"><strong>December 10, 2024</strong> &mdash; Competition Registration Begins
</p>
                        <p class="w-300 fs-16"><strong>February 1, 2025</strong> &mdash; Competition Begins
                        </p>
                        <p class="w-300 fs-16"><strong>May 1, 2025</strong> &mdash; Top 5 Teams Announced (Elite Phase Begins)
                        </p>
                        <p class="w-300 fs-16"><strong>May 22, 2025</strong> &mdash; Live Bin-Picking Challenge On OpenCV Webinar
                        </p>
                        <p class="w-300 fs-16"><strong>June 10, 2025</strong> &mdash; Winners Announced @ CVPR 2025 in Nashville, TN, USA.
                        </p>
                        
                        <p class="w-300 fs-14">All Deadlines Are 11:59pm In Your Team's Local Timezone.</p>
</p>
                    </div>
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/about-prizes.jpeg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Prizes</h5>
                        <p class="w-300 fs-16"><strong>1st (Grand Prize Winner):</strong> $20,000</p>
                        <p class="w-300 fs-16"><strong>2nd (Grand Prize Runner-Up):</strong> $15,000</p>
                        <p class="w-300 fs-16"><strong>3rd Place:</strong> $10,000</p>
                        <p class="w-300 fs-16"><strong>4th & 5th Place:</strong> $5,000</p>
                        <p class="w-300 fs-16"><strong>6th to 10th Place:</strong> $1,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/rules.jpg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Rules</h5>
                        <p class="w-300 fs-16"><strong>Team Size:</strong> Up to 4 members.</p>
                        <p class="w-300 fs-16"><strong>Participant Restrictions:</strong> Countries sanctioned by the United States (TBD). </p>
                        <p class="w-300 fs-16"><strong>Dataset:</strong> Participants will use images captured by RGB cameras under all lighting conditions, provided by Intrinsic.
                    </div>
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/evaluation.jpg" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">Evaluation Criteria</h5>
                        <p class="w-300 fs-16"><strong>Accuracy:</strong> Measure the pose estimation accuracy using Maximum Vertex Distance (MVD), precision, and recall.</p>
                        <p class="w-300 fs-16"><strong>Efficiency:</strong> Assess the computational efficiency and real-time capabilities of the algorithms.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m2 l2">
                        <img src="/dist/images/features/docker.png" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l10">
                        <h5 class="w-300">How It Works</h5>
                        <p class="w-300 fs-16">Participants submit code in the form of
                        docker images which are evaluated against test environments on the evaluation server. During
                        evaluation, the worker fetches the image, test environment, and the model snapshot and spins
                        up a new container to perform evaluation.</p>
                    </div>
                    <!--<div class="col s12 m2 l2">
                        <img src="/dist/images/features/docker.png" alt="" width="100%">
                    </div>
                    <div class="col s12 m4 l4">
                        <h5 class="w-300">How It Works</h5>
                        <p class="w-300 fs-16">Participants submit code in the form of
                        docker images which are evaluated against test environments on the evaluation server. During
                        evaluation, the worker fetches the image, test environment, and the model snapshot and spins
                        up a new container to perform evaluation.</p>
                    </div>-->
                </div>
            </div>
        </section>
        <!--<section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Popular challenges</h4>
                </div>
                <div class="row">
                    <div class="col s12 m3 l3" ng-repeat="challenge in main.challengeList.results track by $index"
                        ng-if="$index < 4"><a class="ev-card-hover"
                            ui-sref="web.challenge-main.challenge-page({challengeId:challenge.id})">
                            <div class="card ev-card-panel ev-challenge-card ev-card-hover">
                                <div class="card-image ev-card-image">
                                    <img class="bg-img" ng-src="{{challenge.image}}">
                                    <span class=" ev-card-title fs-14"><span><img
                                                ng-src="{{challenge.image}}"></span>{{challenge.title}}</span>
                                </div>
                                <div class="card-content">
                                    <p><strong class="text-light-black fs-12">Organized by</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.creator.team_name}}</span>
                                    </p>
                                    <p><strong class="text-light-black fs-12">Starts on</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.start_date | date:'medium'}}</span>
                                    </p>
                                    <p><strong class="text-light-black fs-12">Ends on</strong>
                                        <br>
                                        <span class="w-300 fs-16">{{challenge.end_date | date:'medium'}}</span>
                                    </p>
                                </div>
                                <div class=" btn-card-detail waves-effect waves-dark w-300 fs-14"> <strong>View Details
                                    </strong> &nbsp; </div>
                            </div>
                        </a>
                    </div>
                    <div ng-if="!main.challengeList.count" class="row">
                        <p class="text-dark-black w-300 center fs-16">Sorry! there are no featured challenges. Please
                            check again later.</p>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- organizatons section -->
        <!--<section class="ev-container ev-reverse-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="row">
                            <h4 class="w-300 center">Partner Organizations</h4>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/argoai.png" id="argoai-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/cmu.png" id="cmu-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/draper.png" id="draper-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ebay.png" id="ebay-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/fb.png" id="fb-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/gt.png" id="gt-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/google.png" id="google-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ibm.png" id="ibm-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/illinois.png" id="uiuc-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/iitm.png" id="iitm-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/intel.png" id="intel-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/iowa.png" id="iowa-state">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/ju.png" id="ju-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/mapillary.png" id="mapillary-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/motional.png" id="motional">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/mit.png" id="mit-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/nu.png" id="nu-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/siop.png" id="siop-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/stanford.png" id="stanford-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/adelaide.png" id="adelaide-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/uau.png" id="uau">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/umbc.png" id="umbc-logo">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/upisa.png" id="upisa">
                                </div>
                            </div>
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/pitt.png" id="pitt-logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l2">
                                <div class="org-logo">
                                    <img src="dist/images/organizations/vt.png" id="vt-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- SOSP 2019 Entry -->
        <!--<section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Cite our work</h4>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h5 class="w-400">EvalAI: Towards Better Evaluation Systems for AI Agents</h5>
                        <span class="w-300 fs-16">Deshraj Yadav, Rishabh Jain, Harsh Agrawal, Prithvijit Chattopadhyay,
                            Taranjeet Singh, Akash Jain, Shiv Baran Singh, Stefan Lee, Dhruv Batra</span>
                    </div>
                </div>
                <div class="row">
                    <a href="http://learningsys.org/sosp19/assets/papers/23_CameraReadySubmission_EvalAI_SOSP_2019%20(8)%20(1).pdf" target="_blank">
                        <img src="dist/images/evalai-paper.jpg" alt="" width="100%" class="thumb">
                    </a>
                </div>
            </div>
        </section>-->
        <!-- Sponsors -->
        <section class="ev-container ev-reverse-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Sponsors &amp; Partners</h4>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4 offset-l0">
                        <div class="evalai-sponsor-logo">
                            <a href="https://www.intrinsic.ai"><img src="dist/images/sponsors/intrinsic.png" id="Intrinsic"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="evalai-sponsor-logo">
                            <a href="https://opencv.org"><img src="dist/images/sponsors/opencv.png" id="OpenCV"></a>
                        </div>
                    </div>
                    <div class="col s12 m4 l3">
                        <div class="evalai-sponsor-logo">
                            <a href="https://bop.felk.cvut.cz/challenges/"><img src="dist/images/sponsors/bop-logo.png" id="bop"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <landing-footer></landing-footer>
</div>
