<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="grad-head">
                        <h3 class="text-dark-black"><strong>Bin Picking Challenge by Intrinsic</strong></h3>
                        <p class="text-med-black fs-18 w-300">Welcome to Bin Picking Challenge by Intrinsic! Submit your solutuions and win up to $20k!</p>
                        <div class="landing-buttons">
                            <ul class="inline-list">
                                <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14"
                                    href="/web/challenges/challenge-page/15/overview">Participate</a></li>
                            </ul>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ev-container ev-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>$60000</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Prize Fund
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                   <h4><strong>3</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Months
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>2</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Phases
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3 l3">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20 w-500">
                                    <h4><strong>1</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="center fs-20">
                                    Lonely Robot
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sponsors -->
        <section class="ev-container ev-reverse-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Sponsors and Partners</h4>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4"> 
                        <div class="evalai-sponsor-logo">
                            <img src="dist/images/sponsors/Intrinsic-PrimaryLogotype-Black.png" id="intrinsic">
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="evalai-sponsor-logo opencv-logo">
                            <img src="dist/images/sponsors/OpenCV_Logo_with_text.png" id="OpenCV">
                        </div>
                    </div>
                    <div class="col s12 m4 l4"> 
                        <div class="evalai-sponsor-logo">
                            <img src="dist/images/sponsors/BOP.png" id="BOP">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <landing-footer></landing-footer>
</div>
